@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: url("@Wallpaper_4K3D (13179)4K.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  z-index: 99;
}
.logo {
  color: #fff;
  font-size: 2em;
  user-select: none;
}
.navigation a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1em;
  font-weight: 500;
  margin-left: 40px;
  position: relative;
}
.navigation .btnlogin-popup {
  width: 130px;
  height: 50px;
  background: transparent;
  border-radius: 6px;
  border: 2px solid #fff;
  outline: none;
  margin-left: 40px;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.1em;
  color: #fff;
  transition: 0.5s;
}
.navigation .btnlogin-popup:hover {
  background: #fff;
  color: #162938;
}
.navigation a::after {
  content: "";
  background: #fff;
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  border-radius: 5px;
  bottom: -6px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}
.navigation a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.wrapper {
  transition: transform 0.5s ease, height 0.2s ease;
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 5);
  display: flex;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  transform: scale(0);
  overflow: hidden;
}
.wrapper.active-popup {
  transform: scale(1);
}
.wrapper .form-box.login {
  transform: translateX(0);
  transition: 0.18s ease;
}
.wrapper.active .form-box.login {
  transform: translateX(-400px);
  transition: none;
}
.wrapper.active .form-box.register {
  transition: transform 0.18s ease;
  transform: translateX(0px);
}
.wrapper .form-box.register {
  position: absolute;
  transition: none;
  transform: translateX(400px);
}
.wrapper.active {
  height: 520px;
}
.wrapper .icon-close {
  width: 45px;
  height: 45px;
  background: #162938;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  top: 0;
  right: 0;
  position: absolute;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
}
.wrapper .form-box {
  width: 100%;
  padding: 40px;
}
.form-box h2 {
  color: #162938;
  text-align: center;
  font-size: 2em;
}
.input-box {
  width: 100%;
  border-bottom: solid 2px #162938;
  position: relative;
  height: 50px;
  margin: 30px 0;
}
.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  font-weight: 500;
  color: #162938;
  pointer-events: none;
  transition: 0.5s;
}
.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}
.input-box input {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  font-size: 1em;
  color: #162938;
  font-weight: 600;
  padding: 0 35px 0 5px;
}
.input-box .icon {
  color: #162938;
  font-size: 1.2em;
  right: 8px;
  position: absolute;
  line-height: 57px;
}
.remember-forgot {
  color: #162938;
  font-size: 0.9em;
  font-weight: 500px;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}
.remember-forgot label input {
  accent-color: #162938;
  margin-right: 3px;
}
.remember-forgot a {
  color: #162938;
  text-decoration: none;
}
.remember-forgot a:hover {
  text-decoration: underline;
}
.btn {
  width: 100%;
  border-radius: 6px;
  height: 45px;
  background: #162938;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 1em;
}
.login-register {
  color: #162938;
  font-size: 0.9em;
  font-weight: 500px;
  text-align: center;
  margin: 25px 0 10px;
}
.login-register p a {
  color: #162938;
  text-decoration: none;
  font-weight: 600;
}
.login-register a:hover {
  text-decoration: underline;
}
